.footer {
  background-color: #f9f9f9;
  color: #000; /* negro */
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

.footer a {
  color: #000; /* iconos o enlaces */
  text-decoration: none;
}

