.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 100%;
}

.product-card {
  background: #f2f2f2; 
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
}

.product-card p {
  font-size: 1rem;
  color: #000; 
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000; 
  color: white;          
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #333; 
}
.product-img-wrapper {
  position: relative;
  overflow: hidden;
}

.sin-stock-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: bold;
  z-index: 2;
  border-radius: 4px;
}

.disabled-btn {
  background-color: #aaa !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.no-click {
  pointer-events: none;
}
